<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.lsgdut.dhxt.mapper.OrderformMapper">
  <resultMap id="BaseResultMap" type="xyz.lsgdut.dhxt.pojo.Orderform">
    <id column="order_id" jdbcType="INTEGER" property="orderId" />
    <result column="oder_num" jdbcType="INTEGER" property="oderNum" />
    <result column="part_id" jdbcType="INTEGER" property="partId" />
    <result column="main_supplier_id" jdbcType="INTEGER" property="mainSupplierId" />
    <result column="sec_supplier_id" jdbcType="INTEGER" property="secSupplierId" />
    <result column="date" jdbcType="TIMESTAMP" property="date" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    order_id, oder_num, part_id, main_supplier_id, sec_supplier_id, date
  </sql>
  <select id="selectByExample" parameterType="xyz.lsgdut.dhxt.pojo.OrderformExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from OrderForm
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from OrderForm
    where order_id = #{orderId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from OrderForm
    where order_id = #{orderId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="xyz.lsgdut.dhxt.pojo.OrderformExample">
    delete from OrderForm
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="xyz.lsgdut.dhxt.pojo.Orderform">
    insert into OrderForm (order_id, oder_num, part_id, 
      main_supplier_id, sec_supplier_id, date
      )
    values (#{orderId,jdbcType=INTEGER}, #{oderNum,jdbcType=INTEGER}, #{partId,jdbcType=INTEGER}, 
      #{mainSupplierId,jdbcType=INTEGER}, #{secSupplierId,jdbcType=INTEGER}, #{date,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="xyz.lsgdut.dhxt.pojo.Orderform">
    insert into OrderForm
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="orderId != null">
        order_id,
      </if>
      <if test="oderNum != null">
        oder_num,
      </if>
      <if test="partId != null">
        part_id,
      </if>
      <if test="mainSupplierId != null">
        main_supplier_id,
      </if>
      <if test="secSupplierId != null">
        sec_supplier_id,
      </if>
      <if test="date != null">
        date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="orderId != null">
        #{orderId,jdbcType=INTEGER},
      </if>
      <if test="oderNum != null">
        #{oderNum,jdbcType=INTEGER},
      </if>
      <if test="partId != null">
        #{partId,jdbcType=INTEGER},
      </if>
      <if test="mainSupplierId != null">
        #{mainSupplierId,jdbcType=INTEGER},
      </if>
      <if test="secSupplierId != null">
        #{secSupplierId,jdbcType=INTEGER},
      </if>
      <if test="date != null">
        #{date,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="xyz.lsgdut.dhxt.pojo.OrderformExample" resultType="java.lang.Long">
    select count(*) from OrderForm
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update OrderForm
    <set>
      <if test="record.orderId != null">
        order_id = #{record.orderId,jdbcType=INTEGER},
      </if>
      <if test="record.oderNum != null">
        oder_num = #{record.oderNum,jdbcType=INTEGER},
      </if>
      <if test="record.partId != null">
        part_id = #{record.partId,jdbcType=INTEGER},
      </if>
      <if test="record.mainSupplierId != null">
        main_supplier_id = #{record.mainSupplierId,jdbcType=INTEGER},
      </if>
      <if test="record.secSupplierId != null">
        sec_supplier_id = #{record.secSupplierId,jdbcType=INTEGER},
      </if>
      <if test="record.date != null">
        date = #{record.date,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update OrderForm
    set order_id = #{record.orderId,jdbcType=INTEGER},
      oder_num = #{record.oderNum,jdbcType=INTEGER},
      part_id = #{record.partId,jdbcType=INTEGER},
      main_supplier_id = #{record.mainSupplierId,jdbcType=INTEGER},
      sec_supplier_id = #{record.secSupplierId,jdbcType=INTEGER},
      date = #{record.date,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="xyz.lsgdut.dhxt.pojo.Orderform">
    update OrderForm
    <set>
      <if test="oderNum != null">
        oder_num = #{oderNum,jdbcType=INTEGER},
      </if>
      <if test="partId != null">
        part_id = #{partId,jdbcType=INTEGER},
      </if>
      <if test="mainSupplierId != null">
        main_supplier_id = #{mainSupplierId,jdbcType=INTEGER},
      </if>
      <if test="secSupplierId != null">
        sec_supplier_id = #{secSupplierId,jdbcType=INTEGER},
      </if>
      <if test="date != null">
        date = #{date,jdbcType=TIMESTAMP},
      </if>
    </set>
    where order_id = #{orderId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="xyz.lsgdut.dhxt.pojo.Orderform">
    update OrderForm
    set oder_num = #{oderNum,jdbcType=INTEGER},
      part_id = #{partId,jdbcType=INTEGER},
      main_supplier_id = #{mainSupplierId,jdbcType=INTEGER},
      sec_supplier_id = #{secSupplierId,jdbcType=INTEGER},
      date = #{date,jdbcType=TIMESTAMP}
    where order_id = #{orderId,jdbcType=INTEGER}
  </update>
</mapper>