<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.lsgdut.dhxt.mapper.PartinfoMapper">
  <resultMap id="BaseResultMap" type="xyz.lsgdut.dhxt.pojo.Partinfo">
    <id column="part_id" jdbcType="INTEGER" property="partId" />
    <result column="part_name" jdbcType="VARCHAR" property="partName" />
    <result column="part_price" jdbcType="REAL" property="partPrice" />
    <result column="main_supplier_id" jdbcType="INTEGER" property="mainSupplierId" />
    <result column="sec_supplier_id" jdbcType="INTEGER" property="secSupplierId" />
    <result column="part_num" jdbcType="INTEGER" property="partNum" />
    <result column="critical_value" jdbcType="INTEGER" property="criticalValue" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    part_id, part_name, part_price, main_supplier_id, sec_supplier_id, part_num, critical_value
  </sql>
  <select id="selectByExample" parameterType="xyz.lsgdut.dhxt.pojo.PartinfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from PartInfo
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from PartInfo
    where part_id = #{partId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from PartInfo
    where part_id = #{partId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="xyz.lsgdut.dhxt.pojo.PartinfoExample">
    delete from PartInfo
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="xyz.lsgdut.dhxt.pojo.Partinfo">
    insert into PartInfo (part_id, part_name, part_price, 
      main_supplier_id, sec_supplier_id, part_num, 
      critical_value)
    values (#{partId,jdbcType=INTEGER}, #{partName,jdbcType=VARCHAR}, #{partPrice,jdbcType=REAL}, 
      #{mainSupplierId,jdbcType=INTEGER}, #{secSupplierId,jdbcType=INTEGER}, #{partNum,jdbcType=INTEGER}, 
      #{criticalValue,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="xyz.lsgdut.dhxt.pojo.Partinfo">
    insert into PartInfo
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="partId != null">
        part_id,
      </if>
      <if test="partName != null">
        part_name,
      </if>
      <if test="partPrice != null">
        part_price,
      </if>
      <if test="mainSupplierId != null">
        main_supplier_id,
      </if>
      <if test="secSupplierId != null">
        sec_supplier_id,
      </if>
      <if test="partNum != null">
        part_num,
      </if>
      <if test="criticalValue != null">
        critical_value,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="partId != null">
        #{partId,jdbcType=INTEGER},
      </if>
      <if test="partName != null">
        #{partName,jdbcType=VARCHAR},
      </if>
      <if test="partPrice != null">
        #{partPrice,jdbcType=REAL},
      </if>
      <if test="mainSupplierId != null">
        #{mainSupplierId,jdbcType=INTEGER},
      </if>
      <if test="secSupplierId != null">
        #{secSupplierId,jdbcType=INTEGER},
      </if>
      <if test="partNum != null">
        #{partNum,jdbcType=INTEGER},
      </if>
      <if test="criticalValue != null">
        #{criticalValue,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="xyz.lsgdut.dhxt.pojo.PartinfoExample" resultType="java.lang.Long">
    select count(*) from PartInfo
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update PartInfo
    <set>
      <if test="record.partId != null">
        part_id = #{record.partId,jdbcType=INTEGER},
      </if>
      <if test="record.partName != null">
        part_name = #{record.partName,jdbcType=VARCHAR},
      </if>
      <if test="record.partPrice != null">
        part_price = #{record.partPrice,jdbcType=REAL},
      </if>
      <if test="record.mainSupplierId != null">
        main_supplier_id = #{record.mainSupplierId,jdbcType=INTEGER},
      </if>
      <if test="record.secSupplierId != null">
        sec_supplier_id = #{record.secSupplierId,jdbcType=INTEGER},
      </if>
      <if test="record.partNum != null">
        part_num = #{record.partNum,jdbcType=INTEGER},
      </if>
      <if test="record.criticalValue != null">
        critical_value = #{record.criticalValue,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update PartInfo
    set part_id = #{record.partId,jdbcType=INTEGER},
      part_name = #{record.partName,jdbcType=VARCHAR},
      part_price = #{record.partPrice,jdbcType=REAL},
      main_supplier_id = #{record.mainSupplierId,jdbcType=INTEGER},
      sec_supplier_id = #{record.secSupplierId,jdbcType=INTEGER},
      part_num = #{record.partNum,jdbcType=INTEGER},
      critical_value = #{record.criticalValue,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="xyz.lsgdut.dhxt.pojo.Partinfo">
    update PartInfo
    <set>
      <if test="partName != null">
        part_name = #{partName,jdbcType=VARCHAR},
      </if>
      <if test="partPrice != null">
        part_price = #{partPrice,jdbcType=REAL},
      </if>
      <if test="mainSupplierId != null">
        main_supplier_id = #{mainSupplierId,jdbcType=INTEGER},
      </if>
      <if test="secSupplierId != null">
        sec_supplier_id = #{secSupplierId,jdbcType=INTEGER},
      </if>
      <if test="partNum != null">
        part_num = #{partNum,jdbcType=INTEGER},
      </if>
      <if test="criticalValue != null">
        critical_value = #{criticalValue,jdbcType=INTEGER},
      </if>
    </set>
    where part_id = #{partId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="xyz.lsgdut.dhxt.pojo.Partinfo">
    update PartInfo
    set part_name = #{partName,jdbcType=VARCHAR},
      part_price = #{partPrice,jdbcType=REAL},
      main_supplier_id = #{mainSupplierId,jdbcType=INTEGER},
      sec_supplier_id = #{secSupplierId,jdbcType=INTEGER},
      part_num = #{partNum,jdbcType=INTEGER},
      critical_value = #{criticalValue,jdbcType=INTEGER}
    where part_id = #{partId,jdbcType=INTEGER}
  </update>
</mapper>